body{
  margin: 0;
  padding: 0;
  background-color: #f3efe3;
}

.toDo{
  background-color: #d2c191;
  height: 40px;
}
h1{
  text-align: center;
  margin: 0;
}

.main{
  margin-left: 20px;
  margin-bottom: 45px;
}
#newtask{
  width: 250px;
  height: 18px;
}
#add{
  height: 24px;
}
input{
  display: block;
  float: left;
}

li{
  list-style: none;
  margin-left: 20px;
  width: 350px;
  text-align: justify;
  background-color:#d2c191;
  height: 20px;
  border: 1px black inset;
}

li:hover{
  background-color: white;
}
span{
  position: absolute;
  left: 330px;
}
